.inputDiv {
	z-index: 2;
	background-color: #007e3283;
	width: 50%;
    max-width: 450px;
	height: auto;
	padding: 15px;
	border-radius: 10px;
}
.inputField {
	margin-bottom: 20px;
}
.errorMessageDiv {
	text-align: center;
	width: 100%;
}
.errorMessageText {
	color: rgba(226, 19, 19, 0.7);
	font-size: 14px;
	font-weight: bold;
}
.forgotPasswordDiv {
	width: 100%;
}
.forgotPasswordLink {
	font-weight: bold;
	color: wheat;
	margin-left: 3px;
}
.DivTitle {
	/* color: black; */
	margin-bottom: 10px;
	color: wheat;
}
.SubmitButtonDiv {
	width: 100%;
	text-align: center;
}
.SubmitButton{
	width: 30%;
	background-color: #009934 !important;
	color: white;
	border-radius: 10px;
	border-bottom: 6px solid #007327;
	cursor: pointer;
}


.MuiFormControl-root,
.MuiOutlinedInput-notchedOutline {
	background-color: transparent !important;
	border-color: wheat !important;
}

.MuiFormLabel-root.Mui-focused {
	color: wheat !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
	border-color: wheat !important;
}
.MuiCircularProgress-root {
	color: white !important;
}
